{% extends 'layout/frontend.html' %}
{% load i18n %}
{% block content %}
<article class="msi1a c5">

  <header><h1>{% trans "Le concept" %}</h1></header>
        <section class="tm5" style="margin-bottom:70px"><h2>{% trans "Notre 3eme générations de site" %}</h2>
  <p>{% trans "Notre nouvelle plateforme de 3ème générations à été développer avec les meilleures technologie de data engineering, de deep et machine learning, permettant à rendre une solution rapide, efficace et un moteur de recherche puissant inégalable dans le secteur de la moto. Le developpement de promomoto.fr à demandé 1500h de preparation et une semaine de developpement intensif. " %}</p>
     <p>{% trans "Nos évolutions nous permttent de proposer différentes solutions pour les professionnel et particuliers souhaitant rendre disponible des annonces gratuites qui sont valider automatiquement via nos algorythmes" %}</p>

           <p>{% trans "Ainsi nous vendons nos pièces et expédions entre 24 et 48 heures partout en France. De nombreuses evolutions vont etre disponibles dans les prochaines semaines." %}</p>
                 <p>{% trans "Pour finir Promomoto est disponible grâce au Language de programmation Python utilisé dans les plus gros projet web du monde, comme Instagram, la Nasa, Google, Spotufy ou bien encore Netflix et Uber  " %}</p>


            <img style="width:31%; border-radius:5px; margin:5px 1%" src="/static/image/annonce-moto-gratuite.png" alt="annonce moto gratuite">
   <img style="width:31%; border-radius:5px; margin:5px 1%" src="/static/image/vente-piece-moto-occasion.png" alt="vente pièce moto">
 <img style="width:31%; border-radius:5px; margin:5px 1%" src="/static/image/plateforme-moto.png" alt="plateforme moto">
       <h2>{% trans "Nous continuons la vente de pièces" %}</h2>

            <p>{% trans "Nous continuons la vente de pièce, grâce à notre partie e-commerce ainsi nous pouvons partager notre traffic avec des partenaires. Toutes nos pièces sont vérifié et expédié par Promomoto dans les 48 heures, deplus nous sommes en possession dans toutes nos cartes grises, permettant d'avoir une tracabilité de toutes nos pièces" %}</p>





        </section>
</article>
{% endblock %}